<!doctype html>
<html ng-app="notesApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NotesApp</title>

    <link href="css/all.packages.css" rel="stylesheet">
    <link href="css/all.app.css?v=1" rel="stylesheet">
</head>

<body ng-controller="NotesController">
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li>
                    <a data-target="#note-modal-box" data-toggle="modal" ng-click="createNote()">
                        <span class="glyphicon glyphicon-plus" ng-click="createNote()"></span> Create Note
                    </a>
                </li>
            </ul>
            <h3 class="text-muted">NotesApp</h3>
        </div>

        <div class="content">
            <ul class="notes list-unstyled clearfix">

                <!-- Loops for each notes -->
                <li ng-repeat="note in noteList">
                    <div class="block trans03" data-note-id="{{ note.id }}">
                        <h4>
                        	{{ note.title }}
                        	
                        	<a class="pull-right 
                        	glyphicon glyphicon-trash hover-showup"
                        	title="Delete Note" ng-click="deleteNote(note.id)"></a>

                        	<a data-target="#note-modal-box" 
                        	data-toggle="modal" 
                        	class="pull-right glyphicon glyphicon-fullscreen hover-showup" 
                        	title="View Note" ng-click="viewNote(note.id)"></a>

                        </h4>
                        <p>{{ note.previewText }}</p>
                        <div class="bottom-part">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            <label>Wrote on</label>
                            <span>{{ note.createdAt }}</span>
                        </div>
                    </div>
                </li>

            </ul>

            <div ng-show="(noteList.length == 0)" class="alert alert-info" role="alert">There are no notes to show</div>
        </div>

        <div class="footer">
            <p>
                <a href="https://github.com/kabir-baidhya/NotesApp">NotesApp</a> 2015 | A demo app built with <a href="https://angularjs.org/">Angular</a> | by <a href="https://github.com/kabir-baidhya/NotesApp">Kabir</a>
            </p>
        </div>

    </div>

    <div class="modal fade" id="note-modal-box" tabindex="-1" role="dialog" aria-labelledby="note-modal-boxLabel" aria-hidden="true" ng-controller="ModalController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <a class="edit-note pull-right" ng-click="editNote()" ng-if="modalBox.type == 'view'">
                        <span class="glyphicon glyphicon-ok-sign"></span> Edit
                    </a>
                    <h4 class="modal-title" id="note-modal-boxLabel">{{ modalBox.title }}</h4>
                </div>
                <div class="modal-body">
                    <section ng-if="modalBox.type == 'view'">
                        <p>{{ activeNote.text }}</p>
                        <div class="text-left note-date">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            <label>Wrote on </label> <span>{{ activeNote.createdAt }}</span>
                        </div>
                    </section>
                    <section ng-if="modalBox.type == 'edit' || modalBox.type == 'create'">
                        <form class="form-horizontal" role="form">
                            <input type="hidden" ng-model="form.id">
                            <input type="text" class="form-control" ng-model="form.title" placeholder="Title" id="input-note-title">
                            <textarea class="form-control" ng-model="form.text" rows="5" id="input-note-text" placeholder="Add Note"></textarea>
                            <div class="button-wrapper">
                                <div ng-if="modalBox.type == 'edit'">
                                    <button type="button" class="btn btn-primary" ng-click="editSave()">Save</button>
                                    <button type="button" class="btn btn-default" ng-click="editCancel()">Cancel</button>
                                </div>
                                <div ng-if="modalBox.type == 'create'">
                                    <button type="button" class="btn btn-primary" ng-click="createSave()">Add Note</button>
                                    <button type="button" class="btn btn-default" ng-click="createCancel()">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="js/all.packages.js"></script>
    <script src="js/all.app.js"></script>
</body>

</html>
